/node_modules
/public/hot
/public/storage
/public/admin
/public/client
/resources/admin
/resources/client
/app/Providers/TelescopeServiceProvider.php
/public/vendor/
/config/telescope.php
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
